<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HipChat.Widget.Mvc.AuthToken" value="12d76c58396734cec1c833681d3710" />
    <add key="HipChat.Widget.Mvc.OwnerUserId" value="794645" />
    <add key="HipChat.Widget.Mvc.NotifyRoom" value="Testers" />
  </appSettings>
</configuration>